<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="panelLogin" class="panel">
									{% if error_message %}
									<div class="error"> <p>{{ str(error_message)}}</p> </div>
									{% end %}
								</div>
<form action="/login" method="POST">
    {% raw xsrf_form_html() %}
    <label for="email"> email:</label>
    <input name="username" type="text">
     <label for="password"> password:</label>
    <input name="password" type="password">
    <input type="submit" value="登录">
</form>
<a href="/reg">去注册</a>
</body>
</html>